*{
    margin: 0;
    
    
    scroll-behavior: smooth;
    
}
.First {
    height: 100vh;
    clear: both;
    font-size: 80px;
    background-color:#D93D66 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Love Ya Like A Sister', cursive;
    color:  #FFFAFA;
    text-align: center;
}

.Second {
    height: 100vh;
    clear: both;
    font-size: 50px;
    background-color:#B6E7F2 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFFAFA;
    font-family: 'Loved by the King', cursive;

}
.First a img {
    text-align: center;
    width: 100px;
    bottom: 300px;
    
}
.Second p {
    padding-top: 10%;
    text-align: center;


}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .First {
        height: 100vh;
        font-size: 40px;
        
    }
    .Second {
        height: 100vh;
        font-size: 30px;
      }
    .First a img {
        width: 80px;
        bottom: 200px;
        
    }
    .Second p{
        padding-top: 20%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .First {
        height: 100vh;
        font-size: 30px;
      }
      .Second {
        height: 100vh;
        font-size: 20px;
    }
    .First a img {
        width: 80px;
        bottom: 200px;
        
    }
    .Second p{
        padding-top: 20%;
    }
  }